@font-face {
    font-family: Lalezar;
    src: url(../fonts/Lalezar-Regular.woff);
    src: url(../fonts/Lalezar-Regular.woff2);
  }
  @font-face {
    font-family: Yekan;
    src: url(../fonts/IRANYekanXVF.woff);
    src: url(../fonts/IRANYekanXVF.woff2);
  }
  